<%= link_to "#" do %>
  <div class="card" >
    <img src="https://picsum.photos/800" class="card-img-top" alt="">
    <div class="card-body">
      <h3>Monstera</h3>
      <p>10€</p>
    </div>
  </div>
<% end %>
