<% if context == :homepage %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-homepage" data-controller="navbar" data-action="scroll@window->navbar#showNavbar">
<% elsif context == :sticky %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
<% else %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<% end %>
  <%= render 'components/navbar/inner' %>
</div>
