<% if context == :homepage %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-homepage" data-controller="navbar" data-action="scroll@window->navbar#showNavbar">
<% else %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
<% end %>
  <%= render 'components/navbar/inner' %>
</div>
