

.tab__container {
  display: flex;
  margin-top: 70px;
}

.tab {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  text-transform: uppercase;
}
.tab_content {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.tab__content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.active {
  display: block;
  }

.tab:hover {
  background-color: #777;
}

.pending {
  width: 90%;
  border: solid black 1px;
  height: 400px;
  text-align: center;
}


#bookings {
  text-align: center;
  // margin: px;

}

.booking-list {
  list-style: none;
  align-items: center;
}

body {
  background-color: #F1F7E7;
}

ul {
  padding: 0;
}

.card-image {
  margin-left: 20px;
}


.notreserved {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 65px;
  margin-right: 20px;
}

.reserved {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 65px;
  margin-right: 20px;
}
