<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/626933.jpg);">

    <h1 class="title">Treent</h1>
    <p class="catchphrase">Transform your space with some greenness</p>
    <%= button_to "Hire a plant", plants_path, method: :get, class: "btn-enter" %>

</div>

<div class="info_container d-grid">
  <div class="row">
    <div class="info_card1 col-sm-4 col-lg-12">
      <p>Besoin de plantes pour décorer <br> votre intérieur ?</p>
    </div>
    <div class="info_card2 col-sm-4 col-lg-12">
      <p>Envie de partager votre collection à d'autres <br> treent-husiatstes ?</p>
    </div>
    <div class="info_card3 col-sm-4 col-lg-12">
      <p>Un evenement en préparation ? <br> On vous couvre !</p>
    </div>
  </div>
</div>

<div class="suggestions_container bg-white">
  <h1 class="suggestions-du-moment">Daily inspiration</h1>

  <div class="suggestions d-flex">
   <% @plants.each do |plant| %>
      <%= render 'components/suggestion', plant: plant %>
    <% end %>
  </div>
</div>
