<h1 class="mt-5">Plants</h1>
<div class="main-container d-flex">
  <div class="cards d-flex flex-wrap">
    <% 21.times do |n| %>
      <%= render 'components/card', n: n %>
    <% end %>
  </div>
  <div class = "flex-column">
  <img id="map" src="https://en.mappy.com/front-services/map/44000-Nantes" alt="">

  <% if user_signed_in?%>
    <div class = "mt-3 btn btn-secondary"><%= link_to "New Plant", new_my_plant_path(current_user) %></div>
  <%else%>
    <div class = "mt-3 btn btn-secondary"><%= link_to "sign it", new_user_session_path %></div>
  <%end%>
  </div>
</div>
