<h1 class="listing mt-5">Plants</h1>
<div class="main-container d-flex">
  <div class="cards d-flex flex-wrap">
    <% 21.times do |n| %>
      <%= render 'components/card', n: n %>
    <% end %>
  </div>
  <div class = "flex-column">

  <% if user_signed_in?%>
    <div class = "mb-4 btn btn-secondary"><%= link_to "New Plant", new_my_plant_path(current_user) %></div>
  <%end%>

  <img id="map" src="https://en.mappy.com/front-services/map/44000-Nantes" alt="">
  </div>
</div>
