<h1 class="listing mt-5">Plants</h1>
<div class="main-container d-flex">
  <div class="cards d-flex flex-wrap">
    <% 21.times do |n| %>
      <%= render 'components/card', n: n %>
    <% end %>
  </div>
  <img id="map" src="https://en.mappy.com/front-services/map/44000-Nantes" alt="">
</div>
