.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin:15px 0;
  padding-right: 30px;
  border-radius: 5px;

}

.card-product {
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
}


.card-product {
  h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 10px;
  }
}

.card-product {
  .plant-name-card {

  }
}
.card-product {
  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  }
}

.card-product .card-product-infos {
  padding: 16px;
}

li {
  display:inline-block;
  text-align: center;
  width: 80%;
}

.action-user {
  justify-content: space-between;
  width: 70px;
}

.status-icon{
  margin-top: 5px;
}

.booking-date {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
