.card {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  margin: 0 15px 20px 0;
  width: 250px;
  box-shadow: 1px 1px 1px lightgray;
  height: 400px;
  text-align: left;
}

.p-plants-index {
  position: absolute;
  bottom: 1px;
  color: #0B4619;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

.card-title-plants-index {
  font-size: 20px;
  color: #0B4619;
  font-family: 'Quicksand', sans-serif;
}

.border-photo {
  border-radius: 5px 5px 0 0;
}
