.mapboxgl-map {
  width: 800px;
  height: 450px;
  position: sticky;
  top: 130px;
  margin-top: 16px;
  margin-right: 16px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  color: #0B4619;
  font-family: 'Quicksand', sans-serif;
}
