.navbar {
  height: 50px;
  z-index: 99999;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  z-index: 99999;

}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  height: 50px;
  justify-content: space-between;
  width: 160px;
  z-index: 99999;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  align-items: center;
}

.navbar-button {
  width:  100px !important;
  background-color: white;
  font-size: 15px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #046243;
  color: white;
}

.nav-link {
  color: #046243;
}
