.navbar {
  height: 70px;
  z-index: 99999;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  z-index: 99999;

}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  height: 50px;
  justify-content: space-between;
  // width: 160px;
  z-index: 99999;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  align-items: center;
}

.nav-link{
  color: #046243;
  &:hover {color: #046243 }
}
